
:root {
    --bg: #121212;
    --card: #1E1E1E;
    --border: #444;
    --text: #E8E8E8;
    --subtext: #999;
    --gold: #C9A227;
    --title-color: #B08D2C;
    --time-color: #777;
}

html, body {
    height: 100%;
    overflow: hidden;
}

.title-box {
    width: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    border-bottom: 1px solid #333;
}

.title-box h1 {
    white-space: nowrap;
}

#time {
    margin-top: 6px;
    color: var(--time-color);
    font-size: 20px;
}

h1 {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0;
    color: var(--title-color);
}

body {
    background-color: var(--bg);
    color: var(--text);
    font-family: "SimSun", "宋体", sans-serif;
    margin: 0;
    padding: 20px;
}

.layout {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: max-content;
    padding: 30px 20px;
}

.navbar {
    display: flex;
    flex-direction: column;
    width: max-content;
    gap: 14px;
    margin-top: 20px;
    margin-left: 0;
    align-items: flex-start;
    background-color: var(--bg);
}


.navbar a {
    display: inline-block;
    width: max-content;
    text-decoration: none;
    background-color: var(--card);
    border: 0.5px solid var(--border);
    color: #DDD;
    font-size: 24px;
    padding: 7px 12px;
    border-radius: 999px;
    transition: .2s;
}

.navbar a.active {
    color: var(--gold);
    background: var(--border);
}

.navbar a:hover {
    background: var(--border);
    color: var(--gold);
    transform: translateX(2px) translateY(2px);
}

.content {
    height: 100vh;
    overflow-y: auto;
}