
:root {
    --bg: rgba(0,0,0,0.45);
    --card: #1E1E1E;
    --border: #444;
    --text: #E8E8E8;
    --subtext: #999;
    --gold: #C9A227;
    --title-color: #B08D2C;
    --time-color: #777;
    --side-color: rgba(255,255,255,0.1);
    --side-bg: rgba(255,255,255,0.18);
    --side-border: rgba(255,255,255,0.35);
    --shadow: rgba(201,162,39,.6);

    --card-color: rgba(0,0,0,0.07);
    --card-border: rgba(255,255,255,0.35);

    --screen-height: 0
    --screen-width:0
}

html {
    min-height: 100%;
    margin: 0;
    scrollbar-gutter: stable;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: linear-gradient(var(--bg), var(--bg)),
    url("/static/bg1.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: blur(5px);
    z-index: -1;
}

body {
    position: relative;
}

.title-box {
    width: 160px;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--border);
}

.title-box h1 {
    font-size: 34px;
    margin-bottom: 20px;
    text-align: center;
}

#time {
    color: var(--time-color);
    font-size: 20px;
    text-align: center;
}

h1 {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--title-color);
}

body {
    font-family: "SimSun", "宋体", sans-serif;
    margin: 0;
    padding: 10px;
}

.layout {
    display: flex;
    align-items: flex-start;
}

.sidebar {
    width: 180px;
    height: calc(100vh - 40px);
    margin: 10px;
    padding: 50px 10px;
    flex-shrink: 0;
    position: sticky;
    top: 20px;
    border-radius: 25px;
    /* 半透明玻璃 */
    background: var(--side-color);
    /* 磨砂 */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid var(--side-border);
    box-sizing: border-box;
}

.navbar {
    display: flex;
    flex-direction: column;
    width: max-content;
    gap: 14px;
    margin-top: 70px;
    margin-left: 0;
    align-items: flex-start;
}


.navbar a {
    width:158px;
    height:55px;
    display:flex;
    align-items:center;
    justify-content:center;
    border:1px solid var(--side-border);
    color:var(--text);
    font-size:26px;
    border-radius:999px;
    text-decoration:none;
    transition:.3s;
}

.navbar button {
    width:158px;
    height:55px;
    display:flex;
    align-items:center;
    justify-content:center;
    color:var(--text);
    font-family: inherit;
    font-size:26px;
    border-radius:999px;
    text-decoration:none;
    transition:.3s;
    /* 半透明玻璃 */
    background: transparent;
    border: 1px solid var(--side-border);
    box-shadow: none;
}

.navbar a:hover {
    background: var(--side-bg);
    color: var(--gold);
    transform: scale(0.98);
}

.navbar a.active {
    color: var(--gold);
    border-color: var(--gold);
    box-shadow: 0 0 15px var(--shadow);
}

.navbar button:hover {
    background: var(--side-bg);
    color: var(--gold);
    transform: scale(0.98);
}

.navbar button.active {
    color: var(--gold);
    border-color: var(--gold);
    box-shadow: 0 0 15px var(--shadow);
}

.sidebar::after {
    content:"© 靜";
    position:absolute;
    bottom:25px;
    left:50%;
    transform:translateX(-50%);
    color: var(--subtext);

}

.content {
    flex: 1;
    padding: 0;
    position: relative;
}

.waterfall {
    columns: 5;
    column-gap: 15px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 10px;
}

.word-card {
    width: auto;
    break-inside: avoid;
    margin-bottom: 15px;
    padding: 16px;
    border: 1px solid var(--border);
    border-radius: 18px;
    transition: .3s;
    /* 半透明玻璃 */
    background: var(--card-color);
    /* 磨砂 */
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 0.5px solid var(--card-border);
}

.word-card h2 {
    color: var(--gold);
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 29px;
}

.word-card p {
    color:var(--subtext);
    margin-top: 0;
    margin-bottom: 0;
}

p.mean {
    padding-bottom: 8px;
}

p.sentence-source {
    color: var(--gold);
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 20px;
    border-top: 0.2px solid var(--card-border);
}

p.note {
    border-top: 0.5px solid var(--card-border);
    padding-top: 7px;
    padding-bottom: 6px;
}

.word-card:hover {
    transform:translateY(-5px);
    border-color:var(--gold);
}

@media(max-width:1000px){
    .waterfall{
        columns:2;
    }
}

@media(max-width:600px){
    .waterfall{
        columns:1;
    }
}

