<!DOCTYPE html>
<html>
<head>
    <title>添加词条</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="add-box">

    <h2>
        <span>
            添加词条
        </span>
    </h2>

    <form method="post">

        <input name="word" placeholder="词语">

        <textarea name="meaning" placeholder="解释"></textarea>

        <input name="source" placeholder="出处">

        <input name="note" placeholder="备注">

        <button type="submit">保存</button>

    </form>

</div>

</body>
</html>